@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@keyframes hoverEffect {
  from {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  to {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
}
body {
  background-color: #f2e2c4;
  color: #333;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / 1);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f2e2c4;
}

h1 {
  text-align: center;
  font-family: "Lobster", cursive;
  position: relative;
}

h2:after, h2:before {
  content: "";
  display: block;
  height: 2px;
  background: #333;
  margin: 0.5em auto;
}
h2:after {
  width: 50%;
}
h2:before {
  width: 30%;
}

h2,
h5 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

p,
.card-text,
.form-control,
.form-select,
.form-group label {
  text-align: justify;
}

.btn-social {
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #3498db;
  color: #ffffff;
}

.card-img-top img {
  height: 150px;
  object-fit: cover;
}

.heart-button {
  color: #e74c3c;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.quantity-selector {
  max-width: 60px;
}

.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

.contact-card {
  background-color: #f2e2c4;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.form-select {
  margin-bottom: 15px;
}

.card,
.mb-3 {
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover,
.mb-3:hover {
  animation: hoverEffect 0.3s forwards;
}

.navbar {
  background-color: #34495e !important;
  color: #ffffff !important;
}

.navbar a {
  color: #ffffff !important;
}
.navbar a:hover {
  color: #2ecc71 !important;
}

.navbar .dropdown-menu {
  background-color: #34495e !important;
  border: none;
}

.navbar .dropdown-item {
  color: #ffffff !important;
}
.navbar .dropdown-item:hover {
  background-color: #3498db !important;
  color: #ffffff !important;
}

footer {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 1rem 0;
  text-align: center;
}

.restaurant-card {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.card-img-left {
  width: 40%;
  overflow: hidden;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  font-family: "Roboto", sans-serif;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.construction-container {
  text-align: center;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.construction-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
.construction-container p {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

#contacto .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
#contacto h2 {
  font-family: "Lobster", cursive;
  color: #3498db;
}
#contacto .text-center {
  text-align: center;
}
#contacto .contact-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ecf0f1;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
}
#contacto .contact-card h5 {
  font-family: "Lobster", cursive;
  color: #3498db;
  margin-bottom: 10px;
}
#contacto .contact-card p {
  margin-bottom: 5px;
}
#contacto .contact-card a {
  color: #333;
}
#contacto .contact-card a:hover {
  color: #3498db;
}
#contacto .contact-card .fab {
  margin-right: 10px;
  color: #3498db;
}
#contacto .contact-card .fab:hover {
  color: #2ecc71;
}
#contacto form {
  margin-top: 20px;
}
#contacto form .form-label {
  font-weight: bold;
}
#contacto form .form-control {
  border-radius: 10px;
  border: 1px solid #333;
}
#contacto form .btn-primary {
  background-color: #3498db;
  border: none;
  transition: background-color 0.3s;
}
#contacto form .btn-primary:hover {
  background-color: #f2e2c4;
}

.navbar {
  background-color: #34495e !important;
  color: #ffffff !important;
}

.navbar .nav-item a {
  color: #ffffff !important;
}
.navbar .nav-item a:hover {
  color: #f2e2c4 !important;
}

.navbar .dropdown-menu {
  background-color: #34495e !important;
  border: none;
}

.navbar .dropdown-item {
  color: #ffffff !important;
}
.navbar .dropdown-item:hover {
  background-color: #3498db !important;
  color: #ffffff !important;
}

/*# sourceMappingURL=styles.css.map */
