@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// Variables
$font-roboto: 'Roboto', sans-serif;
$font-lobster: 'Lobster', cursive;

$colors: (
  primary: #3498db,
  secondary: #2ecc71,
  background: #f5f5f5,
  navbar-bg: #34495e,
  footer-bg: #2c3e50,
  container-bg: #ffffff,
  text: #333,
  card-background: #ffffff,
  contact-card-background: #ecf0f1,
  contact-card-border: #000000,
  heart: #e74c3c,
  white: #ffffff,
  page-bg: #f2e2c4 // Se actualizo el color 
);

$sizes: (
  btn-social: 50px,
  heart: 1.5rem,
  quantity-selector: 60px,
  card-img-top-height: 300px,
  construction-padding: 50px,
  construction-border-radius: 15px,
  spinner: 3rem
);

$fonts: (
  body: (
    family: $font-roboto,
    style: normal,
    weight: 400,
    scale: 1
  ),
  title: (
    family: $font-lobster,
    style: normal,
    weight: 400
  ),
  construction: (
    h1-size: 36px,
    h1-margin-bottom: 20px,
    p-size: 18px,
    p-margin-bottom: 30px
  )
);

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin font-roboto {
  font-family: $font-roboto;
}

@mixin font-lobster {
  font-family: $font-lobster;
}

// Animación en los Cards
@keyframes hoverEffect {
  from {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  to {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
}

// Estilos generales
body {
  background-color: map-get($colors, page-bg);
  color: map-get($colors, text);
  font-family: map-get(map-get($fonts, body), family);
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / #{map-get(map-get($fonts, body), scale)});
  font-family: map-get(map-get($fonts, body), family);
  font-style: map-get(map-get($fonts, body), style);
  font-weight: map-get(map-get($fonts, body), weight);
  background-color: map-get($colors, page-bg);
}

h1 {
  text-align: center;
  @include font-lobster;
  position: relative;
}

h2 {
  &:after,
  &:before {
    content: '';
    display: block;
    height: 2px;
    background: map-get($colors, text);
    margin: 0.5em auto;
  }

  &:after {
    width: 50%;
  }

  &:before {
    width: 30%;
  }
}

h2,
h5 {
  text-align: center;
  @include font-roboto;
}

p,
.card-text,
.form-control,
.form-select,
.form-group label {
  text-align: justify;
}

.btn-social {
  font-size: 1.5em;
  width: map-get($sizes, btn-social);
  height: map-get($sizes, btn-social);
  @include flex-center;
  border-radius: 50%;
  background-color: map-get($colors, primary);
  color: map-get($colors, white);
}

.card-img-top img {
  height: 150px;
  object-fit: cover;
}

.heart-button {
  color: map-get($colors, heart);
  font-size: map-get($sizes, heart);
  border: none;
  background: none;
  cursor: pointer;
}

.quantity-selector {
  max-width: map-get($sizes, quantity-selector);
}

.card-img-top {
  max-height: map-get($sizes, card-img-top-height);
  object-fit: cover;
}

.contact-card {
  background-color: map-get($colors, page-bg);
  border: 1px solid map-get($colors, contact-card-border);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  @include font-roboto;
}

.form-select {
  margin-bottom: 15px;
}

.card,
.mb-3 {
  background-color: map-get($colors, card-background);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    animation: hoverEffect 0.3s forwards;
  }
}

// Navbar
.navbar {
  background-color: map-get($colors, navbar-bg) !important;
  color: map-get($colors, white) !important;
}

.navbar a {
  color: map-get($colors, white) !important;

  &:hover {
    color: map-get($colors, secondary) !important;
  }
}

// Dropdown
.navbar .dropdown-menu {
  background-color: map-get($colors, navbar-bg) !important;
  border: none;
}

.navbar .dropdown-item {
  color: map-get($colors, white) !important;

  &:hover {
    background-color: map-get($colors, primary) !important;
    color: map-get($colors, white) !important;
  }
}

// Footer
footer {
  background-color: map-get($colors, footer-bg);
  color: map-get($colors, white);
  padding: 1rem 0;
  text-align: center;
}

// Sección de Restaurantes, etc.
.restaurant-card {
  margin-bottom: 30px;
  @include font-roboto;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.card-img-left {
  width: 40%;
  overflow: hidden;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  @include font-roboto;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

// Página de Mendoza, contenedores de página en construcción
.construction-container {
  text-align: center;
  background-color: map-get($colors, white);
  padding: map-get($sizes, construction-padding);
  border-radius: map-get($sizes, construction-border-radius);
  @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.2));

  h1 {
    font-size: map-get(map-get($fonts, construction), h1-size);
    margin-bottom: map-get(map-get($fonts, construction), h1-margin-bottom);
    @include font-roboto;
  }

  p {
    font-size: map-get(map-get($fonts, construction), p-size);
    margin-bottom: map-get(map-get($fonts, construction), p-margin-bottom);
    text-align: center;
    @include font-roboto;
  }
}

.spinner-border {
  width: map-get($sizes, spinner);
  height: map-get($sizes, spinner);
}

// Estilos específicos para la sección de contacto
#contacto {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  h2 {
    font-family: map-get(map-get($fonts, title), family);
    color: map-get($colors, primary);
  }

  .text-center {
    text-align: center;
  }

  .contact-card {
    @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    background-color: map-get($colors, contact-card-background);
    border: 1px solid map-get($colors, contact-card-border);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;

    h5 {
      font-family: map-get(map-get($fonts, title), family);
      color: map-get($colors, primary);
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 5px;
    }

    a {
      color: map-get($colors, text);

      &:hover {
        color: map-get($colors, primary);
      }
    }

    .fab {
      margin-right: 10px;
      color: map-get($colors, primary);

      &:hover {
        color: map-get($colors, secondary);
      }
    }
  }

  form {
    margin-top: 20px;

    .form-label {
      font-weight: bold;
    }

    .form-control {
      border-radius: 10px;
      border: 1px solid map-get($colors, text);
    }

    .btn-primary {
      background-color: map-get($colors, primary);
      border: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: map-get($colors, page-bg);
      }
    }
  }
}
// Navbar
.navbar {
  background-color: map-get($colors, navbar-bg) !important;
  color: map-get($colors, white) !important;
}

.navbar .nav-item a {
  color: map-get($colors, white) !important;

  &:hover {
    color: #f2e2c4 !important;
  }
}

// Dropdown
.navbar .dropdown-menu {
  background-color: map-get($colors, navbar-bg) !important;
  border: none;
}

.navbar .dropdown-item {
  color: map-get($colors, white) !important;

  &:hover {
    background-color: map-get($colors, primary) !important;
    color: map-get($colors, white) !important;
  }
}
